body {
    background-color: #272a32;
    color: white;
}

h1 {
    font-weight: lighter;
    letter-spacing: 0.05em;
	margin-top: 1em;
}

h1.page-title {
    color: #77d5e8;
    font-weight: lighter;
    font-size: 4em;
    letter-spacing: 0;
}

h3 {
    font-weight: lighter;
    letter-spacing: 0.05em;
    color: #77d5e8;
}

a {
    color: #77d5e8;
}

img.logo-image {
    height: 1.5em;
    margin-right: 0.25em;
}

.glyphicon-plus-sign {
    color: #39fd4d;
    cursor: pointer;
    margin-right: 0.25em;
}

.glyphicon-plus-sign:hover {
    color: #47ba9c;
}

.list-item {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px dotted white;
}

.comment {
    font-size: 1.5em;
    font-weight: lighter;
}

.comment-body {
    margin-left: 0.25em;
}

.form-control{
	border-radius: 0;
	border: none;
}

.btn-primary {
    background-color: #2996bf;
    padding: 0.5em 1.5em;
    border-radius: 0;
    border: none;
}
